# Every Open API file needs this
swagger: "2.0"

# Document metadata
info:
  version: "1.0.0"
  title: Example Photo Service

# URL data
host: api.bancolombia.com
basePath: "/portal"
schemes:
- "http"
- "https"


# Endpoints
paths:
  # Business Lines
  "/businessline":
    get:
      tags:
      - Business Line
      summary: Retorna arreglo con el listado de Business Line 
      description: Retorna el listado de lineas de negocio registradas
      operationId: getBusinessline
      produces:
      - application/json
      parameters: 
      - in: body
        name: body
        description: identificación del usuario que invocará el API
        required: true
        schema:
          "$ref": "#/definitions/ApiUser"      
      responses:
        '200':
          description: operacion exitosa
          schema:
            type: array
            items:
              "$ref": "#/definitions/GetBusinessLine"     
        '405':
          description: Entrada invalida   
        '500':
          description: Excepción no controlada     
    post:
      tags:
      - Business Line
      summary: Crea una línea de negocio
      description: Crea una línea de negocio
      operationId: createBusinessline
      # Query parameters
      parameters: 
      - in: body
        name: body
        description: identificación del usuario que invocará el API
        required: true
        schema:
          "$ref": "#/definitions/PostBusinessLineRequest"   
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida 
        '500':
          description: Excepción no controlada 
  "/businessline/{id}":
    get:
      tags:
      - Business Line
      summary: Busca una línea de negocio
      description: Busca una línea de negocio
      operationId: getBusinesslineById    
      # Query parameters
      parameters:
        # Album id
        - name: id
          description: identificación del BL
          in: path
          required: true
          type: integer
        - in: body
          name: body
          description: identificación del usuario que invica  que invocará el API
          required: true
          schema:
            "$ref": "#/definitions/UserRequest"  
          
      responses:
        # Response code
        '200':
          description: successful operation
          schema:
            "$ref": "#/definitions/GetBusinessLineByIdResponse" 
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada  
    put:
      tags:
      - Business Line
      summary: Actualiza una línea de negocio
      description: Actualiza una línea de negocio
      operationId: updateBusinesslineById    
      # Query parameters
      parameters:
        - name: id
          description: identificación del BL
          in: path
          required: true
          type: integer
        - in: body
          name: body
          description: identificación del usuario que invica  que invocará el API
          required: true
          schema:
            "$ref": "#/definitions/UserRequest" 
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada              
    delete:
      tags:
      - Business Line
      summary: Elimina una línea de negocio
      description: Elimina una línea de negocio
      operationId: deleteBusinesslineById    
      # Query parameters
      parameters:
        - name: id
          description: identificación del BL
          in: path
          required: true
          type: integer
        - in: body
          name: body
          description: identificación del usuario que invica  que invocará el API
          required: true
          schema:
            "$ref": "#/definitions/UserRequest" 
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada    
          
  "/Capacity":
    post:
      tags:
      - Capacity
      summary: Crea una capacidad
      description: Crea una capacidad.
      operationId: createCapacity
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Created user object
        required: true
        schema:
          "$ref": "#/definitions/PostCapacityRequest"
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada
  "/capacity/{id}":
    put:
      tags:
      - Capacity
      summary: Actualiza una capacidad dado su id
      description: Actualiza capacidad dado su id
      operationId: updateCapacity   
      # Query parameters
      parameters:
        - name: id
          description: identificación de la Capacidad 
          in: path
          required: true
          type: integer
        - in: body
          name: body
          description: identificación de la capacidad
          required: true
          schema:
            "$ref": "#/definitions/PutCapacityRequest" 
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada                
    delete:
      tags:
      - Capacity
      summary: Elimina una capacidad dado su id
      description: Elimina capacidad dado su id
      operationId: deleteCapacity   
      # Query parameters
      parameters:
        - name: id
          description: identificación de la Capacidad 
          in: path
          required: true
          type: integer
        - in: body
          name: body
          description: identificación de la capacidad
          required: true
          schema:
            "$ref": "#/definitions/UserRequest" 
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada              
          
  "/Commentary":
    post:
      tags:
      - Commentary
      summary: Crea un comentario
      description: Crea un comentario
      operationId: createCommentary
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Created user object
        required: true
        schema:
          "$ref": "#/definitions/PostCommentaryRequest"
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada
  "/Q":
    post:
      tags:
      - Q
      summary: Create
      description: Crear
      operationId: createQ
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Created user object
        required: true
        schema:
          "$ref": "#/definitions/Q"
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada
  "/Q/{id}":          
    get:
      tags:
      - Q
      summary: Consult
      description: Consultar
      operationId: ConsultQ
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - name: id
          description: identificación del Q
          in: path
          required: true
          type: integer      
        - in: body
          name: body
          description: Created user object
          required: true
          schema:
            "$ref": "#/definitions/GetQ"
      responses:
        # Response code
        '200':
          description: successful operation
          schema:
            "$ref": "#/definitions/GetQResponse" 
          
          
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada
    put:
      tags:
      - Q
      summary: Update
      description: Actualizar
      operationId: UpdateQ
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - name: id
          description: identificación del Q
          in: path
          required: true
          type: integer      
        - in: body
          name: body
          description: Created user object
          required: true
          schema:
            "$ref": "#/definitions/PutQ"
      responses:
        # Response code
        '200':
          description: successful operation
          
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada          
    delete:
      tags:
      - Q
      summary: Delete
      description: Eliminar
      operationId: DeleteQ
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - name: id
          description: identificación del Q
          in: path
          required: true
          type: integer      
        - in: body
          name: body
          description: Created user object
          required: true
          schema:
            "$ref": "#/definitions/DeleteQ"
      responses:
        # Response code
        '200':
          description: successful operation
          
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada            

  "/Sprint":
    post:
      tags:
      - Sprint
      summary: Create
      description: Crear
      operationId: CreateSprint
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Created user object
        required: true
        schema:
          "$ref": "#/definitions/Sprint"
      responses:
        # Response code
        '200':
          description: successful operation
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada
  "/Sprint/{id}":          
    get:
      tags:
      - Sprint
      summary: Consult
      description: Consultar
      operationId: ConsultSprint
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - name: id
          description: identificación del Sprint
          in: path
          required: true
          type: integer      
        - in: body
          name: body
          description: Created user object
          required: true
          schema:
            "$ref": "#/definitions/GetSprint"
      responses:
        # Response code
        '200':
          description: successful operation
          schema:
            "$ref": "#/definitions/GetSprintResponse" 
                    
          
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada
    put:
      tags:
      - Sprint
      summary: Update
      description: Actualizar
      operationId: UpdateSprint
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - name: id
          description: identificación del Sprint
          in: path
          required: true
          type: integer      
        - in: body
          name: body
          description: Created user object
          required: true
          schema:
            "$ref": "#/definitions/PutSprint"
      responses:
        # Response code
        '200':
          description: successful operation
          
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada    
    delete:
      tags:
      - Sprint
      summary: Delete
      description: Eliminar
      operationId: DeleteSprint
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - name: id
          description: identificación del Sprint
          in: path
          required: true
          type: integer      
        - in: body
          name: body
          description: Created user object
          required: true
          schema:
            "$ref": "#/definitions/DeleteSprint"
      responses:
        # Response code
        '200':
          description: successful operation
          
        '405':
          description: Entrada invalida             
        '500':
          description: Excepción no controlada          
          

            

definitions:
  ApiUser:
    type: object
    properties:
      username:
        type: string   
  Q:
    type: object
    properties:
      id:
        type: string  
        format: uuid
      number:
        type: integer 
        format: int32
      year:
        type: integer 
        format: int32
  GetQ:
    type: object
    properties:
      username:
        type: string 
  PutQ:
    type: object
    properties:
      username:
        type: string
      number:
        type: integer 
        format: int32
      year:
        type: integer 
        format: int32
  DeleteQ:
    type: object
    properties:
      username:
        type: string
        
  GetQResponse:
    type: object
    properties:
      number:
        type: integer 
        format: int32
      year:
        type: integer 
        format: int32        
  
        
        
      
  Sprint:
    type: object
    properties:
      id:
        type: string   
        format: uuid
      number:
        type: integer 
        format: int32
      initialdate:
        type: string 
        format: date  
      finaldate:
        type: string 
        format: date 
  GetSprint:
    type: object
    properties:
      id:
        type: string   
        format: uuid 
  PutSprint:
    type: object
    properties:
      id:
        type: string   
        format: uuid
      number:
        type: integer 
        format: int32
      initialdate:
        type: string 
        format: date  
      finaldate:
        type: string 
        format: date  
  DeleteSprint:
    type: object
    properties:
      username:
        type: string 
  GetSprintResponse:
    type: object
    properties:
      number:
        type: integer 
        format: int32
      initialdate:
        type: string 
        format: date  
      finaldate:
        type: string 
        format: date         
  PostCommentaryRequest:
    type: object
    properties:
      username:
        type: string 
      initiativeid:
        type: string 
        format: uuid
      comment:
        type: string  
        
  Commentary:
    type: object
    properties:
      username:
        type: string 
      initiativeid:
        type: string 
        format: uuid
      comment:
        type: string          
        
        
  GetBLByIdCapacity:
    type: object
    properties:
      id:
        type: string  
        format: uuid
      name:
        type: string   
      sprint:
        "$ref": "#/definitions/Sprint" 
      q:
        "$ref": "#/definitions/Q" 
      urlapi:
        type: string
      description:
        type: string  
      productorteam:
        type: string 
      functionalleader:
        type: string  
      status:
        type: string    
      createdby:
        type: string   

  PostCapacityRequest:
    type: object
    properties:

      name:
        type: string   
      sprintid:
        type: string  
        format: uuid
      qid:
        type: string  
        format: uuid
      urlapi:
        type: string
        format: uri
      description:
        type: string  
      productorteam:
        type: string 
      functionalleader:
        type: string  
      status:
        type: string    
      createdby:
        type: string   
      user:
        "$ref": "#/definitions/UserRequest" 
        
  PutCapacityRequest:
    type: object
    properties:
      id:
        type: string  
        format: uuid
      name:
        type: string   
      sprintid:
        type: string  
        format: uuid
      qid:
        type: string  
        format: uuid
      urlapi:
        type: string
        format: uri
      description:
        type: string  
      productorteam:
        type: string 
      functionalleader:
        type: string  
      status:
        type: string    
      createdby:
        type: string   
      user:
        "$ref": "#/definitions/UserRequest"           

            
  Capacity:
    type: object
    properties:
      id:
        type: string  
        format: uuid
      name:
        type: string   
      sprint:
        "$ref": "#/definitions/Sprint" 
      q:
        "$ref": "#/definitions/Q" 
      urlapi:
        type: string
      description:
        type: string  
      productorteam:
        type: string 
      functionalleader:
        type: string  
      status:
        type: string    
      createdby:
        type: string   
      comments:
        items:
          type: array
          items:
            "$ref": "#/definitions/Commentary" 
  GetBusinessLine:
    type: object
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
      description:
        type: string        
      image:
        type: string
        format: binary
      hierarchy:
        type: integer 
        format: int32
      owner:
        type: string  
      createby:
        type: string 

  SpaceProductKey:
    type: object
    properties:
      id:
        type: string
        format: uuid
      spaceid:
        type: string
        format: uuid        
      productid:
        type: string
        format: uuid
  UserRequest:
    type: object
    properties:
      username:
        type: string
        
  PostBusinessLineRequest:
    type: object
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
      description:
        type: string        
      image:
        type: string
        format: binary
      hierarchy:
        type: integer 
        format: int32
      owner:
        type: string  
      createby:
        type: string 
      SpaceProduct:
        items:
          type: array
          items:
            "$ref": "#/definitions/SpaceProductKey"  
      user:
        "$ref": "#/definitions/UserRequest"            

  PutBusinessLineRequest:
    type: object
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
      description:
        type: string        
      image:
        type: string
        format: binary
      hierarchy:
        type: integer 
        format: int32
      owner:
        type: string  
      createby:
        type: string 
      SpaceProduct:
        items:
          type: array
          items:
            "$ref": "#/definitions/SpaceProductKey"  
      user:
        "$ref": "#/definitions/UserRequest"     
        


           
  GetBusinessLineByIdResponse:
    type: object
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
      description:
        type: string        
      image:
        type: string
        format: binary
      hierarchy:
        type: integer 
        format: int32
      owner:
        type: string  
      createby:
        type: string  
      capabilities:
        type: array
        items:
          type: array
          items:
            "$ref": "#/definitions/GetBLByIdCapacity" 
      space:
        "$ref": "#/definitions/Space"      
      
  Space:
    type: object
    properties:
      id:
        type: string 
        format: uuid
      name:
        type: string  
      products:
        type: array
        items:
          "$ref": "#/definitions/Product"        
  Product:
    type: object
    properties:
      id:
        type: string 
        format: uuid
      name:
        type: string 
      producttype:
        type: string 
      apiversion:
        type: string         
      productversion:
        type: string
      desription:
        type: string
        
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
  Category:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
    xml:
      name: Category
      
      
      
  Pet:
    type: object
    required:
    - name
    - photoUrls
    properties:
      id:
        type: integer
        format: int64
      category:
        "$ref": "#/definitions/Category"
      name:
        type: string
        example: doggie
      photoUrls:
        type: array
        xml:
          wrapped: true
        items:
          type: string
          xml:
            name: photoUrl
      tags:
        type: array
        xml:
          wrapped: true
        items:
          xml:
            name: tag
          "$ref": "#/definitions/Tag"
      status:
        type: string
        description: pet status in the store
        enum:
        - available
        - pending
        - sold
    xml:
      name: Pet
  Tag:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
    xml:
      name: Tag
  Order:
    type: object
    properties:
      id:
        type: integer
        format: int64
      petId:
        type: integer
        format: int64
      quantity:
        type: integer
        format: int32
      shipDate:
        type: string
        format: date-time
      status:
        type: string
        description: Order Status
        enum:
        - placed
        - approved
        - delivered
      complete:
        type: boolean
    xml:
      name: Order
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      email:
        type: string
      password:
        type: string
      phone:
        type: string
      userStatus:
        type: integer
        format: int32
        description: User Status
    xml:
      name: User
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
          
    
  
 